
#wrapper-home {
  padding: 0;
}

.homepage-splash {

  overflow: hidden;
  min-height: 75vh;
  background-color: #FFDE70;
  padding-top: 0;
  p {
    font-size: 3.5em;
    padding: 50px;
    text-align: center;
    vertical-align: middle;
  }


  .sp-container {
  	height: auto;
  	margin: 0 auto;
    text-align: center;
  }
  .sp-content {
    padding-top: 50px;
    line-height: 15px;
  	width: 100%;
  	position: relative;
  	animation:
  		open 0.4s linear forwards,
  		squeeze 0.6s linear 7.2s forwards;
  }

.sp-wrap {
	padding: 0px 25px;
  height: auto;
	text-align: right;
	font-size: 5em;
	line-height: 80px;
	// float: left;
	// position: relative;
	overflow: hidden;
  h2 {
    span {
      line-height: 100px;
    }
  }
}
.sp-container h2 {
	color: #000;
  width: 100%;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
}
.sp-wrap span {
	display: block;
	opacity: 0;
}
.sp-wrap span.sp-mid {
	opacity: 1;
}
.sp-container .sp-right h2 {
	color: #fff;
	text-shadow: 0px 0px 1px rgba(255,255,255,0.9);
}
.sp-wrap span.sp-mid {
	font-family: 'MisoBold';
	text-transform: uppercase;
	font-size: 4.5em;
	line-height: 130px;
	position: relative;
  overflow-x: visible;
  width: 100%;
}
.sp-left span.sp-top, .sp-content:after  {
	animation:
		slideLeft 0.7s ease-in 0.6s backwards,
		fadeOut 1s linear 6s backwards;
}
.sp-left span.sp-mid {
	animation:
		slideLeft 0.7s ease-in 1s backwards,
		moveUp 0.6s linear 7s forwards;
}
.sp-left span.sp-bottom {
	animation:
		slideLeft 0.7s ease-in 1.4s backwards,
		fadeOut 1s linear 6s backwards;
}
.sp-right span {
	text-align: left;
}
.sp-right span.sp-top {
	animation:
		slideRight 0.7s ease-in 2s backwards,
		fadeOut 1s linear 6s backwards;
}
.sp-right span.sp-mid {
	animation:
		slideRight 0.7s ease-in 2.4s backwards,
		moveUp 0.6s linear 7s forwards;
}
.sp-right span.sp-bottom {
	animation:
		slideRight 0.7s ease-in 3.2s backwards,
		fadeOut 1s linear 6s backwards;
}
.sp-wrap i:first-child {
	color: #000;
}
.sp-wrap i:last-child {
	opacity: 0;
	animation: fadeOut 1s linear 6s backwards;
}
.sp-full {
	// position: absolute;
	font-size: 4em;
	margin: 0 auto;
	animation: fadeIn 1s linear 7.5s backwards;
  bottom: 25px;
  @media (min-width: 768px){
    bottom: 200px;
  }
}
.sp-full a {
	color: #373a3c;
	border-radius: 4px;
	padding: 10px 40px;
	font-size: 1em;
}
.sp-full h2 {
	float: left;
}
.sp-full a:hover {
	opacity: 0.8;
}
@keyframes open{
	0%{
		transform: scale(1,0);
	}
	100%{
		transform: scale(1,1);
	}
}
@keyframes squeeze{
	0%{
		height: 400px;
	}
	100%{
		height: 120px;
	}
}
@keyframes fadeOut{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes slideLeft{
	0%{
		transform: translateX(120%);
	}
	100%{
		transform: translateX(0%);
	}
}
@keyframes slideRight{
	0%{
		transform: translateX(-200%);
	}
	100%{
		transform: translateX(0%);
	}
}
@keyframes moveUp{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-500px);
    display: none;
	}
}
@keyframes zoomIn{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
}

#homepage-primary {
  background-color: #60A0FF;
  padding: 0 50px;
  min-height: 100%;
  height: auto;
  h2 {
    font-size: 3em;
    padding: 50px 0;
    text-align: center;
  }
}


// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
header.masthead {
  background-color: #A2BECC;
}

.banner {
  min-height: 10vh;
  height: auto;
  text-align: center;
  padding: 10px;
  h3 {
    font-size: 4em;
    letter-spacing: 2px;
  }
  h4 {
    letter-spacing: 1.5px;
    font-size: 1.5em;
    margin: 30px auto;
    span {
      border: 3px solid white;
      padding: 10px;
    }
  }
}

#wrapper-footer {
  background-color: #a2becc;
  border-top: 3px solid #373a3c;
}

#single-wrapper {
  width: 85%;
  margin: 0 auto;
  #container-fluid {
    padding: 15px;
  }
  article {
    a {
      color: #000;
    }
    img.wp-post-image {
      display: block;
      margin: 0 auto;
    }
    header {
      text-align: center;
      padding: 25px;
      h1 {
        font-size: 3em;
        font-weight: bolder;
      }
    }
  }
}

.comments-area {
  padding: 15px;
  background-color: #CCCA82;
}

a#homepage-primary {
  color: #373a3c;
  background: #FFDE70;
  text-decoration: none;
}

.before-card {
  visibility: hidden;
}

#right-sidebar {
  aside {
    padding: 10px;
  }
  a {
    color: red;
  }
  h3.widget-title {
    background-color: #FFDE70;
    color: #373a3c;
    padding: 10px;
    font-weight: bolder;
  }
  ul {
    list-style: none;
    li {
    }
  }
}
