.comment-list {
  @include list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
}
.comment-form input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
}

#comments {
  background-color: rgba(255, 254, 244, 0.8);
  padding: 25px;
  margin: 25px 0;
  border-top: 3px solid black;
  width: 100%;
  float: left;
  article {
    width: 100%;
  }
}
