body {
  background-color: #fff;
  overflow-x: hidden;
}

.home {
  background: url(#{$images}/krabi.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
   @include border-radius(1px);
   opacity: 0.2;
   height: 30vh;
}
.intro {
  text-align: center;
}

.splash {
  min-height: 60vh;  /* Fallback for browsers do NOT support vh unit */
  padding-top: 25px;
  p {
    font-size: 2.5em;
    color: #fff;
    span {
      color: #01b2d9;
      font-weight: bolder;
    }
  }
}
.home-arrow {
  min-height: 20vh;
  span.glyphicon-circle-arrow-down {
    position: relative;
    font-size: 4em;
    color: #fff;
  }
}

.carousel img {
    min-width: 100%;
}

.five-percent {
  margin-left: 5%;
}

.ten-percent {
  margin-left: 10%;
}

footer {
  h3 {
    text-align: center;
    color: #fff;

  }
}
