body {
  background-color: #fff;
  overflow-x: hidden;
}

.home {
  background: url(#{$images}/krabi.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
   @include border-radius(1px);
   opacity: 0.2;
   height: 30vh;
}

.splash {
  min-height: 60vh;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
  p {
    font-size: 2em;
    color: #fff;
    span {
      color: red;
      font-weight: bolder;
    }
  }
}
.home-arrow {
  min-height: 20vh;
  margin-left: 100px;
  span.glyphicon-circle-arrow-down {
    position: relative;
    font-size: 4em;
    color: #fff;
  }
}

.carousel img {
    min-width: 100%;
}

.five-percent {
  margin-left: 5%;
}

.ten-percent {
  margin-left: 10%;
}
