body {
  background-color: #fff;
}

.home {
  background: url(#{$images}/krabi.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
   @include border-radius(100px);
   opacity: 0.2;
   height: 30vh;
}

.welcome-text {
  font-size: 3em;
  color: #fff;
  @include centerer()
}
