// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// Images
$images:                "../images";

$amatic-sc: 'Amatic SC', cursive;
$shadows-into-light: 'Shadows Into Light', cursive;
$architects-daughter: 'Architects Daughter', cursive;
$covered-by-your-grace: 'Covered By Your Grace', cursive;
$shadows-into-light-two: 'Shadows Into Light Two', cursive;
$miniver: 'Miniver', cursive;
$gloria-hallelujah: 'Gloria Hallelujah', cursive;

$mobile: "(max-width:768px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
