
body {
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fff , #A2BECC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fff , #A2BECC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

article {
  width: 75%;
  margin: 0 auto;
  p {
    font-size: 1.3em;
  }
}
.content-header {
  width: 100%;
  min-height: 15vh;
  height: auto;
  text-align: center;
  margin-bottom: 25px;
  h1.entry-title {
    padding-top: 50px;
    font-size: 5em;
  }

  .article-meta {
    line-height: 2em;
    time {
      font-style: italic;

    }
    .byline {


    }
  }
}
.instagram-pics {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    border: 1px solid black;

    :hover {
      opacity: .6;
    }

    img {
      width: 100%;
    }
  }
}
