
body {
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fff , #A2BECC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fff , #A2BECC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content {
  margin-top: 15px;
  background: hsla(58, 11%, 55%, .2);
}

.content-header {
  width: 100%;
  min-height: 15vh;
  height: auto;
  background-color: #60A0FF;
  text-align: center;
  margin-bottom: 25px;
  background: hsla(216, 100%, 69%, .2)
}

.content-header h1 {
  padding-top: 20px;
}

.content-header p {
  padding-bottom: 20px;
}

.instagram-pics {
  a {
    color: $link-color;
  }

  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    border: 1px solid black;

    :hover {
      opacity: .6;
    }

    img {
      width: 100%;
    }
  }
}
