body {
  background: #fff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fff, #A2BECC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fff, #A2BECC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

article {
  width: 75%;
  margin: 0 auto; }
  article p {
    font-size: 1.3em; }

.content-header {
  width: 100%;
  min-height: 15vh;
  height: auto;
  text-align: center;
  margin-bottom: 25px; }
  .content-header h1.entry-title {
    padding-top: 50px;
    font-size: 5em; }
  .content-header .article-meta {
    line-height: 2em; }
    .content-header .article-meta time {
      font-style: italic; }

.instagram-pics {
  list-style: none;
  padding: 0; }
  .instagram-pics li {
    margin-bottom: 10px;
    border: 1px solid black; }
    .instagram-pics li :hover {
      opacity: .6; }
    .instagram-pics li img {
      width: 100%; }
